.tab-pane {
    margin-top: 20px;
}
.nav.nav-tabs{
    margin-top:20px
}

#modal-image{
    display: block;
    width: 100%;
    height: auto;
}

.modal-lg {
    width: 100%;
    height: 100%;
  }

/*
.navbar.navbar-inverse  {
  color: #428bca;
  background-color: #428bca;
}
/*  